{% extends 'base.html' %}

{% block content %}
    <h1 class="skeleton-heading">About Us</h1>
    <div class="p-4 justify-content-center">
        <p>
            Welcome to the Islamabad Automobile Workshop, your trusted destination for automotive solutions in Pakistan. With a strategic presence in Islamabad, Sialkot, and Daska, we serve the Punjab region with top-notch services and quality workmanship.
        </p>

        <p>
            Our journey began with a focus on automobiles, and over the years, we have established ourselves as a reliable partner for all your automotive needs. With a team of dedicated professionals, we offer a wide array of services, including repairs, maintenance, diagnostics, and more.
        </p>

        <p>
            Operating since our inception in this vibrant region, we've grown as a respected establishment. Our workshop is equipped with advanced tools and technology, ensuring precise and efficient services. From routine maintenance to complex repairs, our skilled technicians are equipped to handle it all.
        </p>

        <p>
            As a part of the local community, we take pride in delivering personalized services that cater to your specific requirements. Our commitment to quality and customer satisfaction has earned us the trust of numerous clients.
        </p>

        <p>
            We understand the value of your time and investment, which is why we strive to provide cost-effective solutions without compromising on quality. Our aim is to keep your vehicles running smoothly and efficiently, ensuring your safety and peace of mind on the road.
        </p>

        <p>
            Whether you're in need of repairs, maintenance, or expert advice, we invite you to experience our dedicated services. Visit our workshop in Islamabad, Sialkot, or Daska to discover automotive solutions that you can rely on.
        </p>

        <p>
            To learn more about our services, book an appointment, or get in touch, we encourage you to <a style="color: black; font-weight: bold;" href="{% url 'djangoapp:contact' %}">contact us today</a>. Your satisfaction is our priority, and we're here to support you on your automotive journey.
        </p>
    </div>
{% endblock %}
