{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="heading-txt" style="font-size: 2em; margin-bottom: 3%; text-align: center;">Contact</h1>
        <div style="margin-top: 5%;display: flex; justify-content: space-evenly; flex-wrap: wrap;">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Contact Information</div>
                <div class="card-body">
                    <h5 class="card-title">Customer Care</h5>
                    <p class="card-text">Name: Rashid Mehmood </br> Mobile: [Mobile Number] </br> Email: rashid@example.com </p>
                </div>
            </div>
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Contact Information</div>
                <div class="card-body">
                    <h5 class="card-title">Customer Care</h5>
                    <p class="card-text">Name: Asif Mehmood </br> Mobile: [Mobile Number] </br> Email: asif@example.com </p>
                </div>
            </div>
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Contact Information</div>
                <div class="card-body">
                    <h5 class="card-title">Customer Care</h5>
                    <p class="card-text">Name: Kashif </br> Mobile: [Mobile Number] </br> Email: kashif@example.com </p>
                </div>
            </div>
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Contact Information</div>
                <div class="card-body">
                    <h5 class="card-title">Customer Care</h5>
                    <p class="card-text">Name: Atif </br> Mobile: [Mobile Number] </br> Email: atif@example.com </p>
                </div>
            </div>
            <div class="card text-white bg-dark mb-2" style="max-width: 40rem;">
                <div class="card-header">Visiting Address</div>
                <div class="card-body">
                    <h5 class="card-text">Islamabad Automobile Workshop</br></br>Sialkot-Daska Road, Sialkot, Punjab, Pakistan</br></br></h5>
                    <p class="card-text">Phone: [Phone Number] </br> Email: workshop@example.com </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
